/* intuitivnější box-sizing pro všechny prvky na stránce */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


/*
	Poznámky:
	- maximální šířka obsahu uvnitř sekcí je 1100px
	- "pruh" s obsahem obsah je vycentrovaný na stránce
	- všechny sekce mají nahoře a dole padding 80px
	- kromě hlavičky a patičky, které mají jen 30px
	- nadpisy jsou fontem Playfair Display, tučně
	- veškerý další text na stránce fontem Lora
	- výchozí velikost textu na stránce je 18px, řádkování 1.5

	Velikosti nadpisů:
	h1 - 52px  (nadpis v horní Hero sekci s cupcakem)
	h2 - 36px  (nadpisy v dalších sekcích)
	h3 - 18px  (název produktu v Dnešní nabídce)
	Nadpisy mají řádkování jen 1.25

	Barvy:
	#f195b2		růžová - tlačítka a zvýraznění
	#d2567d		tmavá růžová - hover/aktivní tlačítka
	#3e606b		tmavá tyrkysová - na nadpisy
	#242424		(skoro) černá - na běžný text
	#f0f0f0		světle šedé pozadí prostřední sekce
	#303339		tmavé pozadí patičky
*/


body {
  font-size: 18px;
  font-family: 'Lora', serif;
  margin: 0;
  line-height: 1.5;
  color: #242424;
}

/*styly pro hlavičku*/
.hlavicka {
  padding-top: 30px;
  padding-bottom: 30px;
}

.horni-lista {
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo-cukrarny {
  width: 170px;
}

/*styly pro tlacitka menu v hlavicce*/
.menu {
  display: flex;
  list-style: none;  
}

.tlacitko-menu {
  color: #242424;
  text-decoration: none;
  padding: 10px 15px;
}

.tlacitko-menu:hover {
  color: #ffff;
  background-color:#f195b2;
  border-radius: 20px;
}

/*styly pro sekci hero*/
.hero {
  background-image: url(images/cupcake.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;
}

.hero-obsah {
  max-width: 1100px;
  color: #ffff;
  padding-right: 40%;
  margin: 0 auto;
}

.hero h1 {
  font-size: 52px;
  margin-top: 0;
  line-height: 1.25;
  font-family: 'Playfair Display', serif;
}

.hero p {
  font-size: 24px;
  font-style: italic;
}

/*styly pro sekci vitejte v nasi cukrarne*/
.vitejte-v-nasi-cukrarne {
  padding-top: 80px;
  padding-bottom: 80px;
}

.obsah-vitejte {
  max-width: 1100px;
  display: flex;
  margin: 0 auto;
  
}

h2 {
  font-size: 36px;
  color: #3e606b;
  line-height: 1.25;
}

.vitejte-levy-sloupec p {
  padding-bottom: 20px;
}

.tlacitko-nase-vyrobky {
  color: #ffff;
  background-color:#f195b2;
  text-decoration: none;
  border-radius: 30px;
  padding: 10px 15px;
}

.tlacitko-nase-vyrobky:hover {
  color: #ffff;
  background-color:#d2567d;
}

.foto-cukrarka {
  border-radius: 5px;
}

/*styly pro sekci dnesni nabidka*/
.dnesni-nabidka {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #f0f0f0;
}

.obsah-dnesni-nabidka {
  max-width: 1100px;
  margin: 0 auto;
}

.nadpis-dnesni-nabidka {
  border: 4px dotted deeppink;
  margin-top: 0;
}

.flexbox-produkty {
  display: flex;
  justify-content: space-between
  
}

.produkt {
  justify-content: space-between;
  background-color: #ffff;
  border-radius: 5px;
  width: 23%;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3)
}

.produkt h3 {
  color: #3e606b;
  font-size: 18px;
  padding: 0 20px;
}

.produkt p {
  padding: 0 20px;
}

.dorty {
  width: 100%;
  border-radius: 5px 5px 0 0;
}